<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Register Page</title>
    <script src="Scripts/angular.min.js"></script>
   <script src="Scripts/angular-cookies.min.js"></script> 
   <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>           
    <script src="Scripts/login.js"></script>
</head>
<form name="form1" ng-app="my_app" ng-controller="my_ctrl" novalidate>
    <body>
        <center> <h1>Welcome To Infosys Pvt Ltd</h1></center>

        <div align="right">
            <a href="LoginPage.html">Back</a>
        </div>
        <div>
            <table align="center">
                <caption>Register Here</caption>
                <tr>
                    <th>User Name</th>
                    <td>
                        <input type="text" name="user_name" ng-model="ruser.user_name" required />
                        <span style="color: red" ng-show="form1.user_name.$dirty && form1.user_name.$invalid">
                            <span ng-show="form1.user_name.$error.required">Username is required.</span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <th>Password</th>
                    <td>
                        <input type="password" name="password" ng-model="ruser.password" required />
                        <span style="color: red" ng-show="form1.password.$dirty && form1.password.$invalid">
                            <span ng-show="form1.password.$error.required">Password is required.</span>
                        </span>

                    </td>
                </tr>
                <tr>
                    <td colspan="4" align="center">
                        <input type="button" value="Save" ng-click="save()" ng-disabled="form1.user_name.$invalid || form1.password.$invalid" />
                    </td>
                </tr>
            </table>

        </div>
    </body>
</form>
</html>
